.BlogItem {
  flex: 1 1 auto;
  a {
    display:flex;
    align-items: center;
    margin: $base-spacing $large-spacing;
  }

  &-date {
    margin-right: $small-spacing;
    padding: $small-spacing;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $small-font-size;
  }

  &-publishDay {
    font-size: $large-font-size;
  }

  &-title {

  }

  @each $type in $colors-array {
    &--#{nth($type, 1)} {
      a {
        border: 1px solid #{nth($type, 2)};
      }

      .BlogItem-date {
        background-color: #{nth($type, 2)};
        color: #{nth($type, 3)};
      }
    }
  }
}