$icon-width: 125px;

.ContentColumn {
  flex: 1 1 25%;
  text-align: center;

  &-title {
    padding-top: $large-spacing;
    color: $white;
  }

  &-icon {
    padding-top: $base-spacing;
    color: $white;
    width: $icon-width;
  }

  &-description {
    color: $white;
    margin: 0 $base-spacing;
  }

  @include background-color;
}
