$icon-width: 125px;

.ContentColumn {
  width:25%;
  height: 805px;
  text-align: center;

  &-title {
    padding-top: $large-spacing;
    color: $white;
  }

  &-icon {
    padding-top: $large-spacing;
    color: $white;
    width: $icon-width;
  }

  &-description {
    padding-top: $small-spacing;
    color: $white;
    margin: 0 $small-spacing;
  }

  @include background-color;
}
