$hero-height: 500px;

.Hero {
  box-shadow: $base-drop-shadow;
  height: $hero-height;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include background-color;
}