$nav-height: 50px;

.MainNav {
  background-color: $white;
  color: $black;
  height: $nav-height;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $base-drop-shadow;
  position: relative;
  z-index: 3;

  &-logo {
    max-height: $nav-height - $base-spacing;
    padding: 0 $base-spacing;
  }
}
