// TODO: all of this.

/* hide radio inputs from modern browsers */
input[type="radio"] {
  opacity: 0;
}

/* set default styles for the checkboxes and radio buttons */
.radiobtn {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 10% 0 auto;
  cursor: pointer;
  -webkit-filter: drop-shadow(11px 10px 14px rgba(0, 0, 0, 0.25));
  -moz-filter: drop-shadow(11px 10px 14px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(11px 10px 14px rgba(0, 0, 0, 0.25));
  position: relative;
}

input[type="radio"] + label span.radiobtn {
  background: #ecf0f1;
  border-radius: 100px;
}

input[type="radio"]:checked + label span.radiobtn:after {
  content: "";
  position: absolute;
  top: 37px;
  right: 35px;
  width: 30px;
  height: 30px;
  background: #95a5a6;
  z-index: 1;
  border-radius: 30px;
}
