.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

{
  opacity: 0;
}

.grow-enter-active,
.grow-leave-active {
  transition: max-height .5s, opacity .1s ease .3s;
}

.grow-leave-active {
  transition: opacity .1s, max-height .5s;
}

.grow-enter-to,
.grow-leave {
  max-height: 1000px;
  opacity: 1;
}

.grow-enter,
.grow-leave-to
{
  max-height: 0;
  opacity: 0;
}