#app {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $header-font-family;
  font-weight: $base-font-weight;
}

h1, h2, h3 {
  margin: $large-spacing 0 $base-spacing;

}

h4, h5, h6 {
  margin: $base-spacing 0 $small-spacing;
}

h1 {
  font-size: $largest-font-size;
  font-weight: $heavy-font-weight;
}

h2 {
  font-size: $larger-font-size;
  font-weight: $heavy-font-weight;
}

h3 {
  font-size: $larger-font-size;
}

h4 {
  font-family: $base-font-family;
  font-size: $large-font-size;
  font-weight: $heavy-font-weight;
}

h5 {
  font-family: $base-font-family;
  font-size: $large-font-size;
}

h6 {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $heavy-font-weight;
}

a {
  font-weight: $heavy-font-weight;
  text-decoration: none;
  color: $black;
}

p {
  margin: 0 0 $base-spacing;
  line-height: 1.35em;
}
