$white: #F7F5F1;
$brown: #AA916D;
$blue: #465969;
$green: #AAA16D;
$purple: #624153;
$dark-purple: #3F2A35;

$base-drop-shadow: 0 0 10px 0 $dark-purple;

$font_path: 'assets/fonts/';
$candela: 'candelabook';
@font-face {
    font-family: $candela;
    src: url($font_path +'CandelaBook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$base-font-family: $candela;