@import '../node_modules/normalize.css/normalize.css';
@import './variables.scss';
@import './mixins.scss';
@import './typography.scss';
@import './navigation.scss';
@import './hero.scss';
@import './contentcolumn.scss';
@import './pageheader.scss';


$content-width: 800px;

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  /*background-color: $brown;*/
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.FlexContainer {
  display:flex;

  &--center {
    justify-content: center;
  }
}

.PageContent {
  max-width: $content-width;
  margin-top: $large-spacing;
}