@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,400i,600");

@import "../node_modules/normalize.css/normalize.css";
@import "./variables.scss";
@import "./typography.scss";
@import "./checkboxes.scss";
@import "./radiobuttons.scss";
@import "./transitions.scss";

html,
body,
#app {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: $white;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

#app {
  display: flex;
  flex: 1;
}

ul {
  list-style-type: none;
}

ul,
ol {
  padding: 0;
  margin: 0 0 $base-spacing;
  line-height: 1.5em;
}

li {
  display: inline-block;
  margin: 0 $small-spacing $small-spacing;
}

.FlexContainer {
  @include flex-container;
  list-style-type: none !important;
}

.PageContent {
  width: 100%;
  max-width: $content-width;
  padding: 0 $base-spacing;

  a {
    text-decoration: underline;
  }

  p img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }

  ul {
    list-style-type: disc;
    margin-left: $base-spacing;
  }
  li {
    display: list-item;
  }

  &--wide {
    max-width: $wide-content-width;
  }

  &-header {
    margin: $large-spacing 0;
    display: flex;
    align-items: center;
  }
}

.Button {
  min-width: $button-width;
  height: $button-height;
  background-color: $light-gray;
  border: 1px solid $light-gray;
  border-radius: $base-radius;

  &:hover {
    cursor: pointer;
  }
}

/* utilities */

[v-cloak] {
  display: none;
}

.Draw {
  @include draw;
}
