@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url('https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,600,600i');

@import '../node_modules/normalize.css/normalize.css';
@import './variables.scss';
@import './typography.scss';
@import './transitions.scss';

$icon-dimension: 35px;

html, body, #app {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: $white;
  min-height: 1000px;
  height: 100%;
}

#app {
  display: flex;
  flex-flow: column;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 $base-spacing;
}

li {
  display: inline-block;
  margin: 0 $small-spacing $small-spacing;
}

.FlexContainer {
  display:flex;
  box-sizing: border-box;

  &--justifyCenter {
    justify-content: center;
  }

  &--spaceBetween {
    justify-content: space-between;
  }

  &--alignCenter {
    align-items: center;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--column {
    flex-direction: column
  }
}

.PageContent {
  width: $content-width;
  margin: $large-spacing 0 0;

  p img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }

  &--wide {
    min-width: $wide-content-width;
  }

  &--collapsed {
    display: none;
  }

  &--expanded {
    display: block;
  }

  &-header {
    margin: $large-spacing 0;
    display: flex;
    align-items: center;

    &--collapsible {
      cursor: pointer;
    }

    &:before {
      content: "";
      background-image: url(/src/assets/CollapseIcon.svg);
      display: inline-block;
      width: $icon-dimension;
      height: $icon-dimension;
      background-size: $icon-dimension $icon-dimension;
      margin-right: $base-spacing;
    }

    &.PageContent--collapsed {
      display: flex;

      &:before {
        content: "";
        background-image: url(/src/assets/ExpandIcon.svg);
        display: inline-block;
        width: $icon-dimension;
        height: $icon-dimension;
        background-size: $icon-dimension $icon-dimension;
        margin-right: $base-spacing;
      }
    }
  }
}

.Button {
  min-width: $button-width;
  height: $button-height;
  background-color: $light-gray;
  border: 1px solid $light-gray;
  border-radius: $base-radius;

  &:hover {
    cursor: pointer;
  }
}

/* utilities */

.u-fillSpace {
  flex: 1;
  display: flex;
}

.u-fillHeight {
  flex: 1;
  display: flex;
  flex-flow: column;
}

[v-cloak] {display: none}